<%- field_set_tag '', :class => 'main' do -%>
	<p><%= f.label :title, "Page Title" %>
		<%= f.text_field :title %>
	</p>
	<p><%= f.label :permalink, "Permalink" %>
		<%= f.text_field :permalink %>
	</p>
	<p><%= f.label :body_raw, "Page content" %>
		<%= f.text_area :body_raw %>
	</p>
<%- end -%>
<%- field_set_tag 'Options', :class => 'options border' do -%>
	<p><%= f.label :is_active, "Publish status" %> 
		<%= f.select :is_active, [["Published", 1], ["Draft", 0]] %> 
	</p>
	<p id="navigation-status"><%= f.check_box :in_nav %> <%= f.label :in_nav, "Yes, show this page in the navigation" %></p>
	<p><%= f.label :parent_id, "Parent page" %> 
		<%= f.select :parent_id, Page.all.collect { |p| [p.title, p.id] }, {:prompt => 'No parent'} %>
	</p>
	<p><%= f.label :order, "Page order" %>
		<%= f.text_field :order %>
	</p>
<%- end -%>
<%- field_set_tag nil, :class => 'buttons' do -%>
	<button type="submit" value="Save" name="save">
		Save
	</button>
<%- end -%>