<table name="post_list" id="post_list">
	<thead>
		<tr>
			<th scope="col" class="post_pubdate header">Date</th>
			<th scope="col" class="post_title header">Title</th>
			<th scope="col" class="post_comments header">Comments</th>
			<th scope="col" class="post_status header">Status</th>
			<th scope="col" class="skinny_column">Delete</th>
		</tr>
	</thead>
	<tbody>
	<%- posts.each do |p| -%>
		<tr class="<%= cycle('odd','even') %>">
			<td class="post_pubdate"><%= p.published_at.to_s(:digits_reverse) %> <%= p.published_at.to_s(:time) %></td>
			<td class="post_title"><%= link_to p.title, edit_admin_post_path(p) %></td>
			<td class="post_comments"><%= p.comment_status? ? p.comments.length : 'Disabled' %></td>
			<td class="post_status"><%= p.is_active? ? "Published" : "Draft" %></td>
			<td class="skinny_column"><%= link_to 'X', {:action => 'destroy', :id => p.id}, :method => :delete, :confirm => 'Are you sure? This cannot be undone.' %></td>
		</tr>
	<%- end -%>
	</tbody>
</table>