<%= render :partial => 'layouts/header' %>

<ul>
<%- @posts.each do |p| -%>
	<li class="posts<%= ' link' if tags_into_array(p.tags).include?('link') %><%= ' quote' if tags_into_array(p.tags).include?('quote') %>">
		<%= link_to p.title, post_path(Site.archive_path, p.permalink) %>
		<p class="byline">Posted by <%= p.person.name %> on <%= p.published_at.to_s(:long_form) %></p>
	</li>
<%- end -%>
</ul>

<%= render :partial => 'posts/sidebar' %>
<%= render :partial => 'layouts/footer' %>