<ul id="nav">
	<li><%= link_to 'Dashboard', admin_home_path %></li>
	<li><%= link_to 'Posts', admin_posts_path %></li>
	<li><%= link_to 'Pages', admin_pages_path %></li>
	<li><%= link_to 'Preferences', admin_preferences_path %></li>
	<li><%= link_to 'Sign out', logout_path %></li>
</ul>