<%= render :partial => 'layouts/header' %>
	<h2><%= @posts.title %></h2>
	<p class="post-meta"><%= @posts.published_at.to_s(:long_form) %></p>
	<%= @posts.body %>
	
	<h4>Tags</h4>
	<p><%= tags_as_sentence(@posts.tags) %></p>
	<%- if current_person && logged_in? -%>
	<p><%= link_to 'Edit this post', edit_admin_post_path(@posts.id) %></p>
	<%- else -%>
	<p>Not logged in</p>
	<%- end -%>
<%= render :partial => 'layouts/footer' %>