<%= render :partial => 'layouts/header' %>

<ul>
<%- @posts.each do |p| -%>
	<li><%= link_to p.title, post_path(Site.archive_path, p.permalink) %></li>
<%- end -%>
</ul>

<%= paginate(params[:offset],@total_pages,Site.number_of_posts,"/#{Site.archive_path}",'&larr;Older posts', 'Newer posts &rarr;') %>

<%= render :partial => 'posts/sidebar' %>
<%= render :partial => 'layouts/footer' %>