<%= render :partial => 'layouts/header' %>

<ul>
<%- @posts.each do |p| -%>
	<li class="posts<%= ' link' if tags_into_array(p.tags).include?('link') %><%= ' quote' if tags_into_array(p.tags).include?('quote') %>">
		<%= link_to p.title, post_path(Site.archive_path, p.permalink) %>
		<%= truncate_paragraphs(scrub_images(p.body)) %> <%= link_to '[Read more]', post_path(Site.archive_path, p.permalink) %>
	</li>
<%- end -%>
</ul>

<%= paginate('&larr;Older posts', 'Newer posts &rarr;') %>

<%= render :partial => 'posts/sidebar' %>
<%= render :partial => 'layouts/footer' %>