<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-us" lang="en-us">
<head>
	<%= Site.meta_tags %>
	<title><%= $page_title + ' // ' unless $page_title.blank? || $page_title.nil? %><%= Site.site_name %></title>
	<%= stylesheet_link_tag 'minilog' %>
</head>
<body>
	<%= yield %>
	<div id="nav">
		<ul>
			<li>
				<%= link_to 'Archives', posts_path(Site.archive_path) %>
			</li>
			<li>Pages?
				<%# link_to 'Pages', pages_path('pages') %>
			</li>
			<li><%= sign_in_out_link(current_person) %></li>
			<li>
				<%= link_to 'Admin', admin_home_path %>
			</li>
		</ul>
	</div> <!-- /nav -->
</body>
</html>